<!DOCTYPE html>









<html lang="en">

{% if user.is_authenticated %}
<head>
    <meta charset="UTF-8">
    <title>HomeAdmin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'adminhome'%}">HOME</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'%}">Film <span class="sr-only">(current)</span></a>
      </li>

    <select class="form-control" id="exampleFormControlSelect1" onChange="location.href=''+this.options[this.selectedIndex].value+'';" >
      <option value="#">Categoria</option>
      <option value="#">Action</option>
      <option value="#">Animation</option>
      <option value="#">News</option>
      <option value="#">Classic</option>
      <option value="#">Comedy</option>
      <option value="#">Documentary</option>
      <option value="#">Drama</option>
      <option value="#">Family</option>
      <option value="#">Foreign</option>
      <option value="#">Games</option>
      <option value="#">Sports</option>
      <option value="#">Horror</option>
      <option value="#">Travel</option>
    </select>

    <!--  <select name="nimporte" onChange="location.href=''+this.options[this.selectedIndex].value+'.html';">
           <option>Choix</option>
           <option value="page1">Lien1</option>
           <option value="page2">Lien2</option>
 </select>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
-->

    <select class="form-control" id="exampleFormControlSelect3" onChange="location.href=''+this.options[this.selectedIndex].value+'';" >
      <option value="#">Carico</option>
      <option value="{%url 'caricamerce'%}">Aggiugere Merce</option>
      <option value="{% url 'caricacatalogo'%}">Aggiungere Catalogo</option>
      <option value="{% url 'caricaarticolo'%}">Aggiungere Articolo</option>
    </select>




    <select class="form-control" id="exampleFormControlSelect4" onChange="location.href=''+this.options[this.selectedIndex].value+'';" >
      <option value="#">Scarico</option>
      <option value="{% url 'scaricamerce'%}">Cancellare Merce</option>
      <option value="{% url 'scaricacatalogo'%}">Cancellare Catalogo</option>
      <option value="{% url 'scaricaarticolo'%}">Cancellare Articolo</option>
    </select>


      <select class="form-control" id="exampleFormControlSelect5" onChange="location.href=''+this.options[this.selectedIndex].value+'';" >
        <option value="#">Incasso</option>
        <option value="#">Incasso Giornaliero</option>
        <option value="#">Incassso Mensile</option>
      </select>


      <select class="form-control" id="exampleFormControlSelect2" onChange="location.href=''+this.options[this.selectedIndex].value+'';" >
        <option value="#">Stampa</option>
        <option value="#">Ricevuta di attivazione noleggio</option>
        <option value="#">Ricevuta di termine noleggio</option>
      <option value="#">Ricevuta di video restituiti in cattivo stato</option>

    </select>



    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" action="#">
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="seach" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
    </form>




        <a class="nav-link" href="{% url 'inscription'%}" >Inscription</a>

        <a class="nav-link" name="logout" href="{% url 'logout'%}">Logout</a>

  </div>
</nav>

{%block list%}

{%endblock%}

{%block detail%}

{% endblock%}

{% block seach%}

{%endblock%}

{% block inscription%}

{%endblock%}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>



{% else %}
<script>
    alert('Deve Effettuare il login per vedere questa pagina.')
</script>
{% endif %}


</html>

