<!DOCTYPE html>
<html lang="en">

{% load filtro %}

{% if user.is_authenticated %}
{% if request.user|has_group:"GROUP_CAPO_NEGOZIO" or user.is_staff %}



<head>
    <meta charset="UTF-8">
    <title>Carica Catalogo</title>
</head>
<body>

   <form action="{% url 'caricacatalogo' %}" method="post">
       {% csrf_token %}


        <div class="regista">
             <label for="regista">Regista :</label>
              {{forma.regista}}
        </div>

        <div class="autore">
             <label for="autore">Autore :</label>
              {{forma.autore}}
        </div>

        <div class="casaproduction">
             <label for="casaproduction">Casa di Production :</label>
              {{forma.casaprodutrice}}
        </div>

        <div class="durata">
             <label for="durata">Durata :</label>
              {{forma.durata}}
        </div>

        <div class="genere">
             <label for="genere">Genere :</label>
              {{forma.genere}}
        </div>

        <div class="titolo">
             <label for="titolo">Titolo :</label>
              {{forma.titolo}}
        </div>

        <div class="data">
             <label for="data">Data :</label>
              {{forma.last_update}}
        </div>


         <div class="prezzolistino">
             <label for="prezzolistino">Prezzo listino :</label>
              {{forma.prezzo_listino}}
        </div>

        <div class="description">
             <label for="description">Description :</label>
              {{forma.description}}
        </div>


         <div class="clscat_invio_return">
                <input type="submit" name="invio" value="INVIO" >
                <input type="submit" name="return" value="RETURN">
         </div>

   </form>

</body>

{%else%}
 <p>non sei autorisato</p>
{% endif%}



{% else %}
    <script>
             alert('Deve Effettuare il login per vedere questa pagina.')


    </script>

{% endif %}
</html>