{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop HOME</title>
    <link rel="stylesheet" type="text/css" href="{%static 'CSS/style.css'%}">
</head>
<body>
<nav class="navbar">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FILM</a>
      </li>
      <li>
         <select class="form-control" id="exampleFormControlSelect1">
      <option>Categori</option>
      <option>FANTASTIC</option>
      <option>ACTION</option>
      <option>ROMANTIC</option>
        </select>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

       <li class="nav-item">
        <a class="nav-link" href="#">Connexion</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="#">Inscription</a>
      </li>
  </div>
</nav>







</body>
</html>